.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-instagram {
    color: #517fa8;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
    color: #d8d8d8;
}

.social a {
    font-size: 1.5rem;
}