<div class=" footer position-relative">
    <!-- <div id="logicon">
        <img src="../../assets/img/logicon.svg" alt="">
    </div> -->



    <div class="bg-dark">
        <div class="container">
            <nav class="navbar navbar-dark py-0">
                <ul class="navbar-nav list-group list-group-horizontal">
                    <li class="nav-item mr-3"><a class="nav-link" href="">Terms</a></li>
                    <li class="nav-item mr-3"><a class="nav-link" href="">GDPR</a></li>
                    <li class="nav-item mr-3"><a class="nav-link" href="">Privacy</a></li>
                    <li class="nav-item mr-3"><a class="nav-link" href=""><i class="fab fa-facebook"></i></a></li>
                    <li class="nav-item mr-3"><a class="nav-link" href=""><i class="fab fa-twitter"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href=""><i class="fab fa-instagram"></i></a></li>
                </ul>
                <span class="navbar-text text-white">&copy; 2019 | Logge by Togge</span>
            </nav>
        </div>
    </div>
</div>