<div id="productpage" class=" container mt-5 mb-5">
        <div class="mx-auto row">
    
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-5 col-12 "> 
                        <img class="productpage-img center" src="../../../../assets/img/products/log-birch.png" alt="Image not found">
                    </div>
                    <div class="col-lg-7 col-12 px-5">
                            <h1>Birch Log</h1>
                            <h4>6 990 kr</h4>
                        <p class="pt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto explicabo aliquid impedit laborum soluta, 
                            temporibus cumque dolores ipsum error ducimus expedita natus quidem molestiae saepe minus ratione odit consequatur sunt et. 
                            Quasi saepe repellendus ullam itaque dignissimos dolorem sit, adipisci deserunt beatae suscipit laborum, laudantium, tempore 
                            voluptas sed vitae quibusdam iusto asperiores labore rerum quae nostrum voluptatem rem? Voluptatum repellat architecto consectetur 
                            praesentium, eum dolorem in earum asperiores saepe blanditiis.</p>
                        <div class="input-group mt-5">
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="basic-addon1">Antal</div>
                            </div>
                            <input type="text" class="form-control mr-5 input-productpage" aria-label="antal" aria-describedby="basic-addon1">
                            <a href="" class="btn btn-primary mx-5 btn-productpage">Lägg till i varukorg</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>