<main role="main">

    <div class="album py-5 bg-light">
      <div class="container">


    <!-- Heading -->
        <div class="row justify-content-center">
          <h2 class="heading">Best sellers</h2>
        </div>
    <!-- Heading end-->
    <!-- Products -->
    <div class="row">
    
        <div class="col-md-4">
        <div class="card mb-4 ">
                       
                        <svg width="100%" height="250px">
                                <rect width="100%" height="100%" style="fill: #777" />
                                Sorry, your browser does not support inline SVG.  
                        </svg>
    
                        <div class="card-body text-center">
                            <h5 class="card-title">Logge Oak</h5>
                            <p class="card-text">As our locally sourced Logge Oak&reg; grows, they get to experience classical music</p>
                            <a href="#" class="btn btn-primary">Learn more</a>
                        </div>
        </div>
        </div>
    
        <div class="col-md-4">
                <div class="card mb-4 ">
                       
                        <svg width="100%" height="250px">
                                <rect width="100%" height="100%" style="fill: #777" />
                                Sorry, your browser does not support inline SVG.  
                        </svg>
            
                        <div class="card-body text-center">
                            <h5 class="card-title">Logge Aspen Plus</h5>
                            <p class="card-text">The Logge Aspen Plus&reg; derive from the oldest trees in Saskatchewan</p>
                            <a href="#" class="btn btn-primary">Learn more</a>
                        </div>
         </div>
         </div>
        
         <div class="col-md-4">
                <div class="card mb-4 ">
                        
                        <svg width="100%" height="250px">
                                <rect width="100%" height="100%" style="fill: #777" />
                                Sorry, your browser does not support inline SVG.  
                        </svg>
            
                        <div class="card-body text-center">
                            <h5 class="card-title">Logge Pine</h5>
                            <p class="card-text">The Logge Pine&reg; logs have been carefully picked out by our top lumberjacks</p>
                            <a href="#" class="btn btn-primary">Learn more</a>
                        </div>
         </div>
         </div>
    
                
        </div>
      
    
        <!-- Products end -->
         <!-- Heading -->
         <div class="row justify-content-center">
                <h2 class="heading">New products</h2>
              </div>
          <!-- Heading end-->
          <!-- Products -->
          <div class="row">
          
              <div class="col-md-4">
              <div class="card mb-4 ">
                             
                              <svg width="100%" height="250px">
                                      <rect width="100%" height="100%" style="fill: #777" />
                                      Sorry, your browser does not support inline SVG.  
                              </svg>
          
                              <div class="card-body text-center">
                                  <h5 class="card-title">Logge Birch</h5>
                                  <p class="card-text">Together with local tree farmers, we have developed the whitest birch ever</p>
                                  <a href="#" class="btn btn-primary">Learn more</a>
                              </div>
              </div>
              </div>
          
              <div class="col-md-4">
                      <div class="card mb-4 ">
                             
                              <svg width="100%" height="250px">
                                      <rect width="100%" height="100%" style="fill: #777" />
                                      Sorry, your browser does not support inline SVG.  
                              </svg>
                  
                              <div class="card-body text-center">
                                  <h5 class="card-title">Logge Oak Plus</h5>
                                  <p class="card-text">The Logge Oak Plus&reg; has an even stronger fragrance than it's smaller counterpart</p>
                                  <a href="#" class="btn btn-primary">Learn more</a>
                              </div>
               </div>
               </div>
              
               <div class="col-md-4">
                      <div class="card mb-4 ">
                              
                              <svg width="100%" height="250px">
                                      <rect width="100%" height="100%" style="fill: #777" />
                                      Sorry, your browser does not support inline SVG.  
                              </svg>
                  
                              <div class="card-body text-center">
                                  <h5 class="card-title">Logge Aspen</h5>
                                  <p class="card-text">Our organic Logge Aspen&reg; originates from the deep forests of Canada</p>
                                  <a href="#" class="btn btn-primary">Learn more</a>
                              </div>
               </div>
               </div>
          
                      
              </div>
            
          
              <!-- Products end -->


        

      </div>
    </div>

</main>