<main role="main">

    <div class="album py-5 bg-light">
      <div class="container">


    <!-- Heading -->
        <div class="row justify-content-center">
          <h2 class="heading">Best sellers</h2>
        </div>
    <!-- Heading end-->
    <!-- Products -->
    <div class="row">
    
    <div class="col-md-4">
    <div class="card mb-4 ">
                   
                    <svg width="100%" height="250px">
                            <rect width="100%" height="100%" style="fill: #777" />
                            Sorry, your browser does not support inline SVG.  
                    </svg>

                    <div class="card-body text-center">
                        <h5 class="card-title">Oak Log</h5>
                        <p class="card-text">As our locally sourced Oak Logs&reg; grow, they get to experience classical music</p>
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
    </div>
    </div>

    <div class="col-md-4">
            <div class="card mb-4 ">
                   
                    <svg width="100%" height="250px">
                            <rect width="100%" height="100%" style="fill: #777" />
                            Sorry, your browser does not support inline SVG.  
                    </svg>
        
                    <div class="card-body text-center">
                        <h5 class="card-title">Aspen Log XL</h5>
                        <p class="card-text">The Aspen Log XL&reg; derive from the oldest trees in Saskatchewan</p>
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
     </div>
     </div>
    
     <div class="col-md-4">
            <div class="card mb-4 ">
                    
                    <svg width="100%" height="250px">
                            <rect width="100%" height="100%" style="fill: #777" />
                            Sorry, your browser does not support inline SVG.  
                    </svg>
        
                    <div class="card-body text-center">
                        <h5 class="card-title">Pine Log</h5>
                        <p class="card-text">The Pine Logs&reg; have been carefully picked out by our top lumberjacks</p>
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
     </div>
     </div>



     <div class="col-md-4">
            <div class="card mb-4 ">
                           
                            <svg width="100%" height="250px">
                                    <rect width="100%" height="100%" style="fill: #777" />
                                    Sorry, your browser does not support inline SVG.  
                            </svg>
        
                            <div class="card-body text-center">
                                <h5 class="card-title">Aspen Log</h5>
                                <p class="card-text">Our organic Aspen Log&reg; originates from the deep forests of Canada</p>
                                <a href="#" class="btn btn-primary">Learn more</a>
                            </div>
            </div>
            </div>
        
            <div class="col-md-4">
                    <div class="card mb-4 ">
                           
                            <svg width="100%" height="250px">
                                    <rect width="100%" height="100%" style="fill: #777" />
                                    Sorry, your browser does not support inline SVG.  
                            </svg>
                
                            <div class="card-body text-center">
                                <h5 class="card-title">Birch Log</h5>
                                <p class="card-text">Together with local tree farmers, we have developed the whitest Birch Log&reg; ever</p>
                                <a href="#" class="btn btn-primary">Learn more</a>
                            </div>
             </div>
             </div>
            
             <div class="col-md-4">
                    <div class="card mb-4 ">
                            
                            <svg width="100%" height="250px">
                                    <rect width="100%" height="100%" style="fill: #777" />
                                    Sorry, your browser does not support inline SVG.  
                            </svg>
                
                            <div class="card-body text-center">
                                <h5 class="card-title">Oak Log XL</h5>
                                <p class="card-text">The Oak Log XL&reg; has an even stronger fragrance than it's smaller counterpart</p>
                                <a href="#" class="btn btn-primary">Learn more</a>
                            </div>
             </div>
             </div>
            
    </div>
  

    <!-- Products end -->

      </div>
    </div>

</main>