.heading {margin-bottom: 2.5rem;
z-index: 1;}
#productsWrap{
    z-index: 1;

    
    /* background-color: #E0E0E0; */
    background: linear-gradient(
    to bottom,
    #E0E0E0,
    #52604557,
    #F6F8F9
  ),url("../../../assets/img/textures/paper.png");
}

#logiconArea{
    position: Absolute;
    left: -230px;
    top: 0px;
    z-index: 0;
}
.bgTransparent{
  background-color: rgba(255, 255, 255, 0.336);
}

@media (max-width: 1200px) {
  .productImg {
      width: 290px;
    
      
  }
}

@media (max-width: 992px) {
  .productImg {
    width: 210px;
  
    
}
}
@media (max-width: 768px) {

  .productImg {
    width: 350px;
  
    margin-bottom: 50px;
}  
.card{
  width: 350px;
}
  
}

@media (max-width: 576px) {

  .productImg {
    width: 257px;
  
   
}  
.card{
  width: 257px;
}
  
}