<div id="aboutArea">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-5">
                <h2 class="mb-5 mt-3">About Us</h2>
                <div class="row">



                    <div id="aboutLogo" class="col-sm-4">
                        <img id="logoStanding" src="../../assets/img/logo/loggelogga-standing.svg" alt="">
                    </div>
                    <div id="aboutText" class="col-sm-8">
                        <p>A few years ago we noticed that there was a severe lack of premium logs in the world. The
                            ones
                            that
                            did exist were hard to come by
                            and extremely expensive. So we set out with one goal in mind: To make premium logs
                            affordable to
                            everyone. We introduced or first
                            log, the Logge Oak&reg; to great success.
                        </p>
                        <p>Since then we have expanded our operations immensely. We
                            have
                            opened
                            a new brand in select test markets in Asia. And in
                            China alone, we have sold more than 526 million logs this year thus far. But at our core we
                            are still just
                            the
                            five guys who wanted to make
                            the world a little better by offering premium logs to affordable prices.</p>

                    </div>
                </div>


            </div>


            <div class="col-md-4">
                <h4 class="mt-3 mb-5">Our Team</h4>
                <div class="row  my-3">
                    <div class="col-sm-4"><svg class="bd-placeholder-img rounded-circle" width="60" height="60"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                            role="img" aria-label="Placeholder: 60x60">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                                dy=".3em">60x60</text>
                        </svg></div>
                    <div class="col-sm-8 align-self-center">Oliver Larsson</div>
                </div>
                <div class="row my-3">
                    <div class="col-sm-4"><svg class="bd-placeholder-img rounded-circle" width="60" height="60"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                            role="img" aria-label="Placeholder: 60x60">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                                dy=".3em">60x60</text>
                        </svg></div>
                    <div class="col-sm-8  align-self-center">Dennis Nilsson</div>
                </div>
                <div class="row my-3">
                    <div class="col-sm-4"><svg class="bd-placeholder-img rounded-circle" width="60" height="60"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                            role="img" aria-label="Placeholder: 60x60">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                                dy=".3em">60x60</text>
                        </svg></div>
                    <div class="col-sm-8 align-self-center">Alexander Rosén</div>
                </div>
                <div class="row my-3">
                    <div class="col-sm-4"><svg class="bd-placeholder-img rounded-circle" width="60" height="60"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                            role="img" aria-label="Placeholder: 60x60">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                                dy=".3em">60x60</text>
                        </svg></div>
                    <div class="col-sm-8 align-self-center">Emil Seyidov</div>
                </div>
                <div class="row my-3">
                    <div class="col-sm-4"><svg class="bd-placeholder-img rounded-circle" width="60" height="60"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                            role="img" aria-label="Placeholder: 60x60">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                                dy=".3em">60x60</text>
                        </svg></div>
                    <div class="col-sm-8 align-self-center">Christoffer Åström</div>
                </div>
            </div>



        </div>
    </div>
</div>
<div id="bgTrees">
    <div class="container mt-3">
        <div class="row mb-5">

            <div class="row mb-5">



                <div id="aboutTeam" class="col-sm-4 text-center">
                    <img id="teamPic" class="img-fluid" src="../../assets/img/Loggeteam.png" alt="">
                </div>
                <div id="aboutRealText" class="col-sm-8 ">
                    <h2 class="mb-5">But Seriously...</h2>
                    <p>Vi är en grupp elever som går YH-utbildningen Frontendutvecklare i Västerås hos EC Utbildning.
                        Denna hemsida är resultatet av ett skolprojekt där vi skulle bygga en fungerande webshop och
                        arbeta med agila metoder i team.
                    </p>


                </div>
            </div>

        </div>
    </div>

    <app-contact></app-contact>
</div>