<div *ngIf="currentProduct" id="productpage" class=" container mt-5 mb-5">
    <div class="mx-auto row">

        <div class="col-12">
            <div class="row">
                <div class="col-lg-5 col-12 "> 
                    <img class="productpage-img center" src={{currentProduct.img}} alt="Image not found">
                </div>
                <div class="col-lg-7 col-12 px-5">
                        <h1>{{ currentProduct.name }}</h1>
                        <h4>${{ currentProduct.price }}</h4>
                    <p class="pt-3">{{ currentProduct.description }}</p>
                    <p class="pt-1">All our products are carefully crafted with precision and love. We can always guarantee the highest quality
                        products. We always strive to develop new techniques and tools to increase the excellence of our products. Nothing 
                        is left to chance.
                    </p>
                    <div class="input-group mt-5">
                        <a [routerLink]="['/cart', { id:currentProduct._id }]" class="btn btn-primary btn-productpage">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>