<div *ngIf="currentProduct" id="productpage" class=" container mt-5 mb-5">
    <div class="mx-auto row">

        <div class="col-12">
            <div class="row">
                <div class="col-lg-5 col-12 "> 
                    <img class="productpage-img center" src={{currentProduct.img}} alt="Image not found">
                </div>
                <div class="col-lg-7 col-12 px-5">
                        <h1>{{ currentProduct.name }}</h1>
                        <h4>${{ currentProduct.price }}</h4>
                    <p class="pt-3">{{ currentProduct.description }}</p>
                    <div class="input-group mt-5">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="basic-addon1">Antal</div>
                        </div>
                        <input type="text" class="form-control mr-5 input-productpage" aria-label="antal" aria-describedby="basic-addon1">
                        <a [routerLink]="['/cart', { id:currentProduct._id }]" class="btn btn-primary mx-5 btn-productpage">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>