<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand text-uppercase" href="#">Logge</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink='' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Start</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='productpage' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Produkter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='about' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Om oss</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kontakta oss</a>
                </li>
                <li class="nav-item ml-lg-5">
                    <a href="" data-toggle="modal" data-target="#login"><i class="nav-link material-icons-outlined">account_circle</i></a>
                </li>
                <li class="nav-item">
                    <a href=""><i class="nav-link material-icons-outlined">shopping_cart</i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- The Modal -->
<div class="modal" id="login">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Logga in</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
                
                <form action="account.html" class="needs-validation" novalidate>
                        <div class="form-group">
                          <label for="exampleInputEmail1">E-post</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-post" required>
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Lösenord</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Lösenord" required>
                        </div>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Kom ihåg mig</label>
                        </div>
                       
                        <button type="submit" class="btn btn-primary mt-3 bt-login">Logga in</button> <span style="display: inline"><p class="mt-3">Är du ny kund ? <a  data-toggle="collapse" href="#signIn" role="button" aria-expanded="false" aria-controls="signIn"> Registrera dig nu</a> eller <a href="#"> glömt lösenordet? </a></p></span>
                </form>
                  <!-- Registration -->
                
              <div Class="collapse" id="signIn">
                        <h4 class="modal-title pb-3">Registrera</h4>
                        <form class="needs-validation" novalidate>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputEmail4">E-post</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="E-post" required>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="inputPassword4">Lösenord</label>
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Lösenord" required>
                                  </div>
                                </div>
                                <div class="form-row">
                                <div class="form-group col-md-6 ">
                                  <label for="inputAddress">Adress</label>
                                  <input type="text" class="form-control" id="inputAddress" placeholder="Adress" required>
                                </div>
                                
                                
                                <div class="form-group col-md-6">
                                  <label for="inputAddress2">Adress 2</label>
                                  <input type="text" class="form-control" id="inputAddress2" placeholder="Adress 2" required>
                                </div>
                            </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputCity">Stad</label>
                                    <input type="text" class="form-control" id="inputCity" required>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Ort</label>
                                    <select id="inputState" class="form-control" required>
                                        <option value=""></option>
                                        <option value="volvo">Stockholm</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-2">
                                    <label for="inputZip">Postadress</label>
                                    <input type="text" class="form-control" id="inputZip" required>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" required>
                                    <label class="form-check-label" for="gridCheck">
                                        Vi använder informationen för att skräddarsy din upplevelse hos oss.
                                    </label>
                                  </div>
                                </div>
                                <button type="submit" class="btn btn-primary bt-login">Registrera</button>
                              </form>
              </div>
              <!-- Registration End -->                     
        </div>
               
      </div>
    </div>
</div>
<!-- The Modal end-->