<div class="bd-example">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One -->
      <div class="carousel-item active" style="background-image: url('../../../assets/img/carousel/carousel01.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-3">Logge by Togge</h2>
          <p class="lead">Produces premium logs like you have never seen before</p>
        </div>
      </div>
      <!-- Slide Two -->
      <div class="carousel-item" style="background-image: url('../../../assets/img/carousel/carousel02.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-3">Modern Logs</h2>
          <p class="lead">We bring logs into the future with our innovations</p>
        </div>
      </div>
      <!-- Slide Three -->
      <div class="carousel-item" style="background-image: url('../../../assets/img/carousel/carousel03.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-3">Logge Plus</h2>
          <p class="lead">Introducing our latest line of logs, The Plus variants</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
  </div>