<div id="features" class="row container mx-auto">
  <div class="col-sm-4">
    <div class=" card" >
      <img src="../../../assets/img/danger-drive-energy-small.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Logge will help you connect with nature.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  <div class="card">
    <img src="../../../assets/img/bark-chopped-chopped-wood-small.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
</div>
<div class="col-sm-4">
<div class="card">
  <img src="../../../assets/img/original_wooden-tree-slice-wedding-centrepiece.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
  </div>
</div>
</div>



</div>