#featuresWrap{
    /* background-image: url("../../../assets/img/textures/paper.png"); */
    /* background-image: url("../../../assets/img/textures/paper.png"), linear-gradient(#7A4417, #E0E0E0); */
    /* background-image: url("../../../assets/img/textures/paper.png"), -moz-linear-gradient( top, #7A4417, #E0E0E0); */
    background: linear-gradient(
    to bottom,
    #5260455e,
    rgb(224, 224, 224)
  ),url("../../../assets/img/textures/paper.png");
    background-size: initial;

    /* background-color: whitesmoke; */
}
.features .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.features h2 {
    margin-top: 1rem
}
img{
    height: 200px;
}
        background-position: center; 
