#featuresWrap{
    background: linear-gradient(
    to bottom,
    #5260455e,
    rgb(224, 224, 224)
  ),url("../../../assets/img/textures/paper.png");
    background-size: initial;

}
.features .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.features h2 {
    margin-top: 1rem
}
img{
    height: 200px;
}
