<div class="container-fluid ourproducts">
        <div class="container py-5 ">
        <h1 class="display-4 ">Our Products</h1>
        <p class="lead">Produces premium logs like you have never seen before</p>
        </div>
    </div>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row mb-4">
                <div class="col-4 ml-auto">
                    <select (change)="sortProducts($event)" class="custom-select">
                        <option selected>Sort by</option>
                        <option value="1">Name</option>
                        <option value="2">Price (Ascending)</option>
                        <option value="3">Price (Descending)</option>
                    </select>
                </div>
            </div>
            <div class="row">

                <div *ngFor="let product of products" class="col-md-4">
                        
                        <div class="card my-3 text-center">
                                <a [routerLink]="['/productpage', product._id]"><img  src={{product.img}} alt="Image not found" class="mt-5"></a>
                                <div class="card-body">
                                <a [routerLink]="['/productpage', product._id]"><h5 class="card-title text-center">{{ product.name }}</h5></a>
                                <p class="card-text">{{ product.description }}</p>
                                <p class="price">Price: ${{ product.price }}</p>
                                </div>
                         </div>            
                    
                </div>
            </div>
        </div>
    </div>
</main>