<div class="container">
    <div class="row justify-content-center">
            <h2 class="heading">Vad säger våra kunder om oss?</h2>
    </div>
<div class="row mb-5">
    <div class="col-sm-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>   
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item carousel-item active">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-left d-flex mr-3">
                                    <a href="#">
                                            <svg width="90px" height="90px">
                                                    <rect width="100%" height="100%" style="fill: #777" />
                                                    Sorry, your browser does not support inline SVG.  
                                            </svg>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="testimonial">
                                        <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
                                        <p class="overview"><b>Lorem Ipsum</b>, Media Analyst</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-left d-flex mr-3">
                                    <a href="#">
                                            <svg width="90px" height="90px">
                                                    <rect width="100%" height="100%" style="fill: #777" />
                                                    Sorry, your browser does not support inline SVG.  
                                            </svg>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="testimonial">
                                        <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                                        <p class="overview"><b>Lorem Ipsum</b>, Media Analyst</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>			
                </div>
                <div class="item carousel-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-left d-flex mr-3">
                                    <a href="#">
                                            <svg width="90px" height="90px">
                                                    <rect width="100%" height="100%" style="fill: #777" />
                                                    Sorry, your browser does not support inline SVG.  
                                            </svg>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="testimonial">
                                        <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
                                        <p class="overview"><b>Lorem Ipsum</b>, Media Analyst</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-left d-flex mr-3">
                                    <a href="#">
                                            <svg width="90px" height="90px">
                                                    <rect width="100%" height="100%" style="fill: #777" />
                                                    Sorry, your browser does not support inline SVG.  
                                            </svg>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="testimonial">
                                        <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                                        <p class="overview"><b>Lorem Ipsum</b>, Media Analyst</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>			
                </div>
                <div class="item carousel-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-left d-flex mr-3">
                                    <a href="#">
                                            <svg width="90px" height="90px">
                                                    <rect width="100%" height="100%" style="fill: #777" />
                                                    Sorry, your browser does not support inline SVG.  
                                            </svg>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="testimonial">
                                        <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
                                        <p class="overview"><b>Lorem Ipsum</b>, Media Analyst</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-left d-flex mr-3">
                                    <a href="#">
                                            <svg width="90px" height="90px">
                                                    <rect width="100%" height="100%" style="fill: #777" />
                                                    Sorry, your browser does not support inline SVG.  
                                            </svg>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="testimonial">
                                        <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                                        <p class="overview"><b>Lorem Ipsum</b>, Media Analyst</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>			
                </div>
            </div>
        </div>
    </div>
</div>
