<div class="container">
    <div class="row justify-content-center">
            <h2 class="heading">See what our customers have to say</h2>
    </div>
<div class="row mb-5">
    <div class="col-sm-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>   
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item carousel-item active">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-left d-flex mr-3">
                                    <img src="../../../assets/img/customers/customer.png" alt="Image not found">
                                </div>
                                <div class="media-body">
                                    <div class="testimonial">
                                        <p>"We can't get enought of the Logs, we use them for everything. We even built an outhouse out of them!"</p>
                                        <p class="overview"><b>Barry & Mary-Ann</b>, Retired</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-left d-flex mr-3">
                                    <img src="../../../assets/img/customers/customer3.png" alt="Image not found">
                                </div>
                                <div class="media-body">
                                    <div class="testimonial">
                                        <p>"I've never seen logs as fine as these! And I have worked as a lumberjack for 20 years."</p>
                                        <p class="overview"><b>Butch Marsh</b>, Lumberjack</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>			
                </div>
                <div class="item carousel-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-left d-flex mr-3">
                                    <img src="../../../assets/img/customers/customer2.png" alt="Image not found">
                                </div>
                                <div class="media-body">
                                    <div class="testimonial">
                                        <p>“One day my log will have something to say about this. My log saw something that night.”</p>
                                        <p class="overview"><b>Margaret Lanterman</b>, Log Lady</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-left d-flex mr-3">
                                    <img src="../../../assets/img/customers/customer4.png" alt="Image not found">
                                </div>
                                <div class="media-body">
                                    <div class="testimonial">
                                        <p>"We use 'em to fuel the best beach bonfires bruh! Like, there's no comparisons dude"</p>
                                        <p class="overview"><b>Surfers</b>, Beach bums</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>