<div class="container-fluid mittkonto">
    <div class="container py-5 ">
    <h1 class="display-4 ">My Account</h1>
    <p class="lead">From your my account page, you can view your latest orders, manage your shipping and billing addresses and edit your passwords and account details.</p>
    </div>
</div>


<div class="container-fluid">
    <div class="container py-5">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#info" role="tab" aria-controls="profile" aria-selected="true">Account information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"> Latest orders</a>
            </li>

          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="home-tab">

            

            <form class="needs-validation" novalidate class="my-5">
                          <h5>User Information</h5>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="E-post" required>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="inputPassword4">Password</label>
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Lösenord" required>
                                  </div>
                                </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="firstname">Firstname</label>
                                    <input type="text" class="form-control">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="lastname">Lastname</label>
                                    <input type="text" class="form-control">
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="birthdate">Date of birth</label>
                                    <input type="date" class="form-control">
                                  </div>
                                </div>

                                <h5>Billing address</h5>
                                <div class="form-row">
                                  <div class="form-group col-md-6 ">
                                    <label for="inputAddress">Address</label>
                                    <input type="text" class="form-control" id="inputAddress" placeholder="Adress" required>
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" id="inputCity" required>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputCountry">Country</label>
                                    <select id="inputCountry" class="form-control" required>
                                        <option value=""></option>
                                        <option value="Sweden">Sweden</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-2">
                                    <label for="inputZip">Postal number</label>
                                    <input type="text" class="form-control" id="inputZip" required>
                                  </div>
                                </div>

                                <h5>Shipping address</h5>
                                <div class="form-row">
                                  <div class="form-group col-md-6 ">
                                    <label for="inputAddress">Address</label>
                                    <input type="text" class="form-control" id="inputAddress" placeholder="Adress" required>
                                  </div>
                                </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" id="inputCity" required>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputCountry">Country</label>
                                    <select id="inputCountry" class="form-control" required>
                                        <option value=""></option>
                                        <option value="Sweden">Sweden</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-2">
                                    <label for="inputZip">Postal number</label>
                                    <input type="text" class="form-control" id="inputZip" required>
                                  </div>
                                </div>
                                <button type="submit" class="btn btn-primary bt-login">Edit</button>
                      </form>
            
              

            </div>



            <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="profile-tab">

                <table class="table my-5">
                    <thead class="thead">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Produkt</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Antal</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Lorem Ipsum</td>
                        <td>12:42 8/7/2019</td>
                        <td>1</td>
                      </tr>
                      <tr>
                          <th scope="row">2</th>
                          <td>Lorem Ipsum</td>
                          <td>12:42 8/5/2019</td>
                          <td>1</td>
                      </tr>
                      <tr>
                          <th scope="row">3</th>
                          <td>Lorem Ipsum</td>
                          <td>12:42 8/5/2019</td>
                          <td>1</td>
                      </tr>
                    </tbody>
                  </table>
                  

            </div>
            
          </div>

    </div>
</div>
