<div id="productpage" class=" container mt-5 mb-5">
    <div class="mx-auto row">

        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-5 "> 
                    <svg class="bd-placeholder-img" width="450" height="450"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: 140x140">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                            dy=".3em">140x140</text>
                    </svg>
                </div>
                <div class="col-lg-7 px-5">
                        <h1>Lorem Ipsum</h1>
                        <h4>6 990 kr</h4>
                    <p class="pt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto explicabo aliquid impedit laborum soluta, 
                        temporibus cumque dolores ipsum error ducimus expedita natus quidem molestiae saepe minus ratione odit consequatur sunt et. 
                        Quasi saepe repellendus ullam itaque dignissimos dolorem sit, adipisci deserunt beatae suscipit laborum, laudantium, tempore 
                        voluptas sed vitae quibusdam iusto asperiores labore rerum quae nostrum voluptatem rem? Voluptatum repellat architecto consectetur 
                        praesentium, eum dolorem in earum asperiores saepe blanditiis.</p>

                    <div class="input-group mt-5">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="basic-addon1">Antal</div>
                        </div>
                        <input type="text" class="form-control mr-5" aria-label="antal" aria-describedby="basic-addon1">
                        <a href="#" class="btn btn-primary mx-5">Lägg till i varukorg</a>
                    </div>

                            
                </div>
            </div>
        </div>