<main role="main">

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row justify-content-center">
                <h2 class="heading">Our products</h2>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 ">

                        <img class="pt-4" width="100%" height="250px" src="../../assets/img/products/log-aspen.png" alt="Image not found">

                        <div class="card-body text-center">
                            <h5 class="card-title">Aspen Log</h5>
                            <p class="card-text">Our organic Aspen Log&reg; originates from the deep forests of Norrland</p>
                            <a class="btn btn-primary" routerLink='/aspen' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Läs mer</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 ">

                        <img class="pt-4" width="100%" height="250px" src="../../assets/img/products/log-birch.png" alt="Image not found">

                        <div class="card-body text-center">
                            <h5 class="card-title">Birch Log</h5>
                            <p class="card-text">Together with local tree farmers, we have developed the whitest Birch Log&reg; ever</p>
                            <a class="btn btn-primary" routerLink='/birch' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Läs mer</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 ">

                        <img class="pt-4" width="100%" height="250px" src="../../assets/img/products/log-oak.png" alt="Image not found">

                        <div class="card-body text-center">
                            <h5 class="card-title">Oak Log</h5>
                            <p class="card-text">As our locally sourced Oak Logs&reg; grow, they get to experience classical music</p>
                            <a class="btn btn-primary" routerLink='/oak' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Läs mer</a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 ">

                        <img class="pt-4" width="100%" height="250px" src="../../assets/img/products/log-pine.png" alt="Image not found">

                        <div class="card-body text-center">
                            <h5 class="card-title">Pine Log</h5>
                            <p class="card-text">The Pine Logs&reg; have been carefully picked out by our top lumberjacks</p>
                            <a class="btn btn-primary" routerLink='/pine' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Läs mer</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 ">

                        <img class="pt-4" width="100%" height="250px" src="../../assets/img/products/log-aspen.png" alt="Image not found">

                        <div class="card-body text-center">
                            <h5 class="card-title">Aspen Log XL</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, quod?</p>
                            <a class="btn btn-primary" routerLink='/aspenxl' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Läs mer</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 ">

                        <img class="pt-4" width="100%" height="250px" src="../../assets/img/products/log-birch.png" alt="Image not found">

                        <div class="card-body text-center">
                            <h5 class="card-title">Birch Log XL</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, quod?</p>
                            <a class="btn btn-primary" routerLink='/birchxl' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Läs mer</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 ">
                
                        <img class="pt-4" width="100%" height="250px" src="../../assets/img/products/log-oak.png" alt="Image not found">
                
                        <div class="card-body text-center">
                            <h5 class="card-title">Oak Log XL</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, quod?</p>
                            <a class="btn btn-primary" routerLink='/oakxl' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Läs mer</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 ">
                
                        <img class="pt-4" width="100%" height="250px" src="../../assets/img/products/log-pine.png" alt="Image not found">
                
                        <div class="card-body text-center">
                            <h5 class="card-title">Pine Log XL</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, quod?</p>
                            <a class="btn btn-primary" routerLink='/pinexl' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Läs mer</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</main>