<div id="contactWrap">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0 text-center">
                <i class="fal fa-phone-square footer-icons"></i>
                <h4 class="text-uppercase font-weight-light pt-2">Phone</h4>
                <small>+46 8355176</small>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0 text-center">
                <i class="fal fa-envelope footer-icons"></i>
                <h4 class="text-uppercase font-weight-light pt-2">E-mail</h4>
                <small>togge@logge.com</small>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0 text-center">
                <i class="fal fa-map-marker-alt footer-icons"></i>
                <h4 class="text-uppercase font-weight-light pt-2">Find us</h4>
                <small>Somewhere in Sweden</small>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center">
                <i class="fal fa-comment footer-icons"></i>
                <h4 class="text-uppercase font-weight-light pt-2">Customer service</h4>
                <small>Chat with us</small>
            </div>
        </div>
    </div>
</div>