<div id="gradientSmall" class=" d-sm-none"></div>

<div id="contactWrap" class="position-relative " >
        <div id="logicon" class=" d-sm-none">
                <img src="../../assets/img/logicon.svg" alt="">
            </div> 
    <div class="container">
        <div  class="row py-5">
            <div class="  col-12 col-sm-6 col-md-3 col-lg-3 mb-5 mb-lg-0 text-center">
                <div > <i class="fas fa-phone-square footer-icons"></i>
                <!-- <h4 class="text-uppercase font-weight-light pt-2">Phone</h4> -->
                <p class="pt-2">+46 8355176</p>
            </div>
            </div>            

            <div class=" col-12 col-sm-6 col-md-3 col-lg-3 mb-5 mb-lg-0 text-center">
                    <div >
                <i class="fas fa-envelope footer-icons"></i>
                <!-- <h4 class="text-uppercase font-weight-light pt-2">E-mail</h4> -->
                <p class="pt-2">togge@logge.com</p>
                    </div>
            </div>
            <div class=" col-12 col-sm-6 col-md-3 col-lg-3 mb-5 mb-md-0 text-center">
                    <div >
                <i class="fas fa-map-marker-alt footer-icons"></i>
                <!-- <h4 class="text-uppercase font-weight-light pt-2">Find us</h4> -->
                <p class="pt-2">Find us</p>
                    </div>
            </div>
            <div class=" col-12 col-sm-6 col-md-3 col-lg-3 text-center">
                    <div >
                <i class="fal fa-comment footer-icons"></i>
                <!-- <h4 class="text-uppercase font-weight-light pt-2">Customer service</h4> -->
                <p class="pt-2">Chat with us</p>
            </div>
            </div>
        </div>
    </div>
</div>