#gradientSmall {
    height: 30px;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.623));
}
#contactWrap{
    color: #7A4417;
/* text-shadow: 0px 1px rgb(199, 179, 163); */
background-color: rgba(255, 255, 255, 0.623);

font-weight: 700;

}

#logicon {
    position: absolute;
    right: -500px;
    bottom: 00px;
    height: 500px;
    overflow: hidden;
    z-index: 0;

}
#logicon img {

    height: 1000px;
    width: 1000px;
    overflow: hidden;

    z-index: 0;
}

@media (min-width: 576px) {
    
    #contactWrap{
        color: #DFAC7B;
        background: linear-gradient(
    to bottom,
    rgba(39, 39, 39, 0),
    #24242459,
    #24242459,
    #24242454
    
  );
}

}